

.silder{
    width: 960px;
    height: 250px;
    overflow:hidden;
    border:4px solid #010101;
}
.silder ul{
    width:2240px;
    height:250px;
    list-style: none;
}
.silder ul li{
    width:320px;
    height:250px;
    float:left;
    overflow:hidden;
}
article ul{
    list-style: none;
}

article ul li{
    width:960px;
    height:130px;
    background-color:rgba(65,70,74,0.4);
    margin-top:20px;
    padding:8px 5px;
}
article ul li h2{
    padding-bottom:5px;
    padding-left:10px;
    border-bottom:1px solid #ffffff;
    font-size:18px;
    width:450px;
}
article>ul>li>span{
    float:right;
    width:70px;
    height:25px;
    background-color: rgba(69, 255, 197, 0.4);
    font-size:10px;
    line-height:25px;
    text-align:center;
}






