#save{
    display:block;
    float:right;
    width:100px;
    height:50px;
    background-color: #55b6b9;
    color: #ffffff;
    text-align:center;
    line-height: 50px;
    font-weight: 400;
    font-family: "微软雅黑";
    font-size:16px;
    margin-right:30px;
    border:2px solid;
    border-radius:25px;
}
#save:hover{
    color:#96D2D3;
}
#qiang{
    width:100%;
    height:30px;
}
.title{
   margin-bottom:20px;
}
.title span{
    color: #97d2d3;
    font-weight: 600;
    font-size:26px;
}
.title input{
    font-weight: 500;
    font-size:22px;
    width:500px;
    height:40px;
    padding-left:10px;
    margin-left:20px;
}
.container{
    padding-top:1px;
}